@import "./src/styles/style-guide/variables";

.menu-section-title {
  display: flex;
  align-items: center;
  padding: 0 7px;

  &__title {
    margin-right: 12px;
    color: $grey;
  }

  .MuiBadge-root {
    margin-right: 15px;
  }

  .MuiDivider-root {
    flex: 1 1 auto;
  }
}
